header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: black;
    color: brown;
    border-radius: 10px;

}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.menu{
    display: flex;
    list-style: none;

}
.menu-li a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
h2{
    color: gold;
    font-size: 1.5em;
    text-align: center;
}
.center{
    text-align: center;
}
#red{
    color: red;
}
body {
  background-color: white;
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
#div1{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    align-content: center;
}
  
