header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: black;
    color: brown;

}
.logo{
    width: 100px;
    height: 100px;
}
.menu{
    display: flex;
    list-style: none;

}
.menu-li a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
h2{
    color: gold;
    font-size: 1.5em;
    text-align: center;
}
.center{
    text-align: center;
}
#red{
    color: red;
}
body {
  background-color: green;
}